html, body, section {
	height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
table, tbody, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}
table {
	margin-top: 1.4em;
}
h1 {
	text-align: left;
	padding-left: 2em;
	color: white;
}
#root, .App, #map {
	height: 100%;
}
#map {
	z-index: 0;
}
#nav {
	position: fixed;
	top: 100px;
	left: 10px;
	background-color: white;
	width: 40px;
	height: 40px;
	z-index: 1;
	border-radius: 2px;
}
#nav img {
	width: 30px;
	padding-top: 5px;
}
#nav:hover {
	cursor: pointer;
}
.App {
	background-color: #faebd7;
}
.list-view {
	background-color: #faebd7; /*#d7d8fa*/
}
.list-item {
	cursor: pointer;
	max-width: 650px;
	box-sizing: border-box;
	margin: auto;
	border-top: solid;
	border-bottom: solid;
	border-width: 1px;
	display: grid;
	grid-template-columns: 33% auto;
	grid-template-rows: auto auto;
	padding-top: 10px;
	padding-bottom: 10px;
}
.list-item-image {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 3;
	display: flex;
	align-items: center;
}
.list-item-image img {
	margin: auto;
	max-width: 80%;
}
.list-item-info {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 1;
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto auto;
}
.list-item-name {
	font-weight: bold;
	text-align: start;
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: 1;
}
.list-item-rating {
	text-align: start;
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 2;
	grid-row-end: 2;
}
.list-item-type {
	text-align: start;
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 3;
	grid-row-end: 3;
}
.list-item-phone {
	text-align: end;
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 1;
}
.list-item-address {
	text-align: end;
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 2;
}
.list-item-city {
	text-align: end;
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 3;
}
.list-item-extra {
	margin: auto;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 2;
}
.list-item-mutual{
	margin-top: auto;
	margin-bottom: auto;
}
.list-item-strong {
	font-weight: bold;
}
.close-list {
	display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
}
.to-list {
	position: fixed;
  top: 60px;
  right: 10px;
  width: 50px;
  height: 53px;
  background: white;
  background-image: url('./icons/ListViewIcon.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px;
  font-size: 0;
  z-index: 1;
}
.info-image {
	width: 200px;
}
.info-name {
	margin: 0;
}
/* Modal CSS */
.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background : rgba(0, 0, 0, 0.6);
	z-index: 2;
}
.modal-main {
	position: fixed;
	background: rgb(45, 62, 115);
	width: 50%;
	min-width: 400px;
	height: auto;
	max-height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: auto;
}
.display-block {
	display: block;
}
.display-none {
	display: none;
}
.filter-button {
	position: fixed;
	cursor: pointer;
  top: 60px;
  left: 10px;
  width: 50px;
  height: 53px;
  background: white;
  background-image: url('./icons/filter.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px;
  font-size: 0;
  z-index: 1;
}
.filter-list, .filter-checkbox {
	cursor: pointer;
}
.filter-list {
	display: block;
	text-align: left;
	color: white;
	font-size: 1.25em;
	padding-left: 20%;
	height: 40px;
}
.filter-close {
	margin: 1em;
}

.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text {
  color: #fbae17;
  display: inline-block;
  margin-left: 5px;
}

.bounceball {
  position: relative;
  display: inline-block;
  height: 37px;
  width: 15px;
}
.bounceball::before {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fbae17;
  transform-origin: 50%;
  animation: bounce 500ms alternate infinite ease;
}

@keyframes bounce {
  0% {
    top: 30px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    transform: scaleX(2);
  }
  35% {
    height: 15px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}

@media screen and (max-width: 800px) {
	table {
		font-size: 14px;
	}
	.list-item {
		box-sizing: border-box;
		margin: 0 75px 0 75px;
		border-top: solid;
		border-bottom: solid;
		border-width: 1px;
		display: grid;
		grid-template-columns: 45% auto;
		grid-template-rows: auto auto auto;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.list-item-image img {
		margin: auto;
		max-width: 165px;
	}
}
@media screen and (max-width: 575px) {
	.list-item {
		box-sizing: border-box;
		margin: 0 75px 0 75px;
		border-top: solid;
		border-bottom: solid;
		border-width: 1px;
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto auto auto;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.list-item-info {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 1;
		grid-row-end: 1;
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto auto auto auto auto auto;
	}
	.list-item-name {
		font-weight: bold;
		text-align: start;
		grid-column-start: 1;
		grid-column-end: 1;
		grid-row-start: 1;
		grid-row-end: 1;
	}
	.list-item-rating {
		text-align: start;
		grid-column-start: 1;
		grid-column-end: 1;
		grid-row-start: 2;
		grid-row-end: 2;
	}
	.list-item-type {
		text-align: start;
		grid-column-start: 1;
		grid-column-end: 1;
		grid-row-start: 3;
		grid-row-end: 3;
	}
	.list-item-phone {
		text-align: start;
		grid-column-start: 1;
		grid-column-end: 1;
		grid-row-start: 4;
		grid-row-end: 4;
	}
	.list-item-address {
		text-align: start;
		grid-column-start: 1;
		grid-column-end: 1;
		grid-row-start: 5;
		grid-row-end: 5;
	}
	.list-item-city {
		text-align: start;
		grid-column-start: 1;
		grid-column-end: 1;
		grid-row-start: 6;
		grid-row-end: 6;
	}
	.list-item-extra {
		margin: auto;
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 2;
		grid-row-end: 2;
	}
	.list-item-image {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 1;
		grid-row-end: 3;
		display: flex;
		align-items: center;
	}
	.list-item-image img {
		display: none;
	}
}